.header {
    position: fixed;
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    z-index: 1;
    

    overflow: hidden;
    box-shadow: 0 2px 20px var(--grey-900);
    background-color: rgb(2, 0, 90);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    cursor: pointer;
  
  }
  
  .header-top {
    display: flex;
    width: 100%;
    height: 80px;
  }
  
  .header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: aliceblue;
  }
  
  .header-logo {
    color: inherit;
    
    font-size: 100px;
  }
  
  .header-top__navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .header-top__seperator {
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
  }
  
  .header-top__navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
  }
  
  .header-bottom {


    padding: .5rem 1rem 0rem 1rem;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

  }
  
  